.resultadoextrato{
    background-color: rgb(255, 255, 255);
    width: 500px;
    min-height: 150px;    
    position: relative;
    color: #0a2479;
    text-align: left;
}
.resultadosaldo{
    background-color: rgb(255, 255, 255);
    width: 500px;
    min-height: 150px;    
    position: relative;
    color: #0a2479;
    text-align: left;
}