body{
    font-family: Arial, Helvetica, sans-serif !important;/* Familia de fonte para bloco 2 */
    background-color: #121313;
  }

  .font-15px{
    font-size: 15px; /* Tamanho da fonte do Botão. */
  }
  .font-20px{
    font-size: 20px; /* Tamanho da fonte do Botão. */
  }
  .font-21-7px{
    font-size: 21.7px; /* Tamanho da fonte do Botão. */
  }
  .font-22px{
    font-size: 23px; /* Tamanho da fonte do Botão. */
  }
  .font-25px{
    font-size: 25px; /* Tamanho da fonte do Botão. */
  }
  .font-29px{
    font-size: 29px; /* Tamanho da fonte do Botão. */
  }
  .font-30px{
    font-size: 30px; /* Tamanho da fonte do Botão. */
  }
  .font-35px{
    font-size: 35px; /* Tamanho da fonte do Botão. */
  }
  .font-40px{
    font-size: 40px; /* Tamanho da fonte do Botão. */
  }
  .font-100px{
    font-size: 100px;
  }

/*retirada da linha underline (sublinhada) e ancoras (link)*/
*, *:before, *:after { 
  margin:0;
  padding:0;
  font-family: Arial,sans-serif;
}
 
a{
  text-decoration: none;
}
 
/*especifica o tipo de caixa de renderização usada por um elemento*/
a.links{
  display: none;
}

/*bloco para trabalhar o conteúdo da página*/
.preenchimento{
  width: 500px;
  min-height: 150px;    
  margin: 0px 450px;
  position: relative;
  margin-top: 8%;   
}
.preenchimentoregistro{
  width: 500px;
  min-height: 150px;    
  margin: 0px 450px;
  position: relative;
  margin-top: 4%; 
}
h1{
  font-size: 48px;
  color: #0a2479;
  padding: 2px 0 10px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}
/*insere conteúdo depois do elemento*/
/* representa cada elemento como uma caixa retangular, de acordo com o padrão definido 
pelo CSS conhecido como box (caixa) model*/
h1:after{
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -webkit-linear-gradient(left, #121313 0%,#20088b 20%, #20088b 53%, #20088b 79%,#121313 100%); 
  background: linear-gradient(left, #121313 0%,#20088b 20%,#20088b 53%,#20088b 79%,#121313 100%); 
}

p{
  margin-bottom:15px;
}
 
.preenchimento p:first-child{ /*primeiro item da lista*/
  margin: 0px;
}
 
label{
  color: #121313;
  position: relative;
}

/* placeholder: utilizado para indicar ao usuário como deve ser preenchido os campos
em específico na página*/
/*webkit: ofusca caracteres em um campo <form> (como <input> } ou <textarea> ) substituindo eles com uma forma.*/
::-webkit-input-placeholder  {
  color: #cccbcb; 
  font-style: italic;
}

/*prefixo -moz: so permite que as propriedades sejam definidas especificamente para cada navegador/mecanismo
 de renderização individual para que as inconsistências entre implementações sejam contabilizadas com segurança. */
input:-moz-placeholder,
textarea:-moz-placeholder{
  color: #121313;
  font-style: italic;
}
/*propriedade abreviada para configurar uma ou mais das propriedades de contorno*/
input {
  outline: none;
}
 
/*estilo e efeitos de sombra em volta de um elemento input */
/*chekbox: caixas quadradas que são marcadas*/
input:not([type="checkbox"]){
  width: 95%;
  margin-top: 4px;
  padding: 10px;    
  border: 1px solid #20088b;
 
  /*definir bordas arredondadas*/
  -webkit-border-radius: 3px;
  border-radius: 3px;
 
  /*adicionar efeitos de sombra em volta de um elemento*/
  -webkit-box-shadow: 0px 1px 4px 0px #363636 inset;
  box-shadow: 0px 1px 4px 0px #363636 inset;
 
  /*elementos com transição*/
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
 
/*estilo para o elemento botão */
input[type="submit"]{
  width: 100%!important;
  cursor: pointer;  
  background:#20088b;
  padding: 8px 5px;
  color: rgb(255, 255, 255);
  font-size: 20px;  
  border: 1px solid #20088b;   
  margin-bottom: 10px;  
  text-shadow: 0 1px 1px #333;
 
  -webkit-border-radius: 5px;
  border-radius: 5px;
 
  transition: all 0.2s linear;
}
 
/*estilo do botão submit no hover */
input[type="submit"]:hover{ /* passando o cursor do mouse por cima de algum elemento*/
  background: #2f0dc7;
}


/*Classe para transição das telas entre login e cadastro de clientes*/

.link{
  position: absolute;
  background: #20088b;
  color: rgb(255, 255, 255);
  left: 0px;
  height: 20px;
  width: 440px;
  padding: 17px 30px 20px 30px;
  font-size: 16px;
  text-align: right;
  border-top: 1px solid rgb(255, 255, 255);
 
  -webkit-border-radius: 0 0  5px 5px;
  border-radius: 0 0  5px 5px;
}
 
.link a {
  font-weight: bold;
  background: #f7f8f1;
  padding: 6px;
  color: #20088b;
  margin-left: 10px;
  border: 1px solid #cbd518;
 
  -webkit-border-radius: 4px;
  border-radius: 4px;  
 
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s  linear;
}
 
.link a:hover { /* passando o cursor do mouse por cima de algum elemento*/
  color: rgb(255, 255, 255);
  background: #350ee0;
  border: 1px solid rgb(255, 255, 255);
}

/*configuração dos id: cadastrar e login*/ 
#login{
  position: relative;
  top: 0px;
  width: 88%;   
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(147, 184, 189,0.8);
  
  /*configurações das animações*/
  /*descreve como os valores intermediários das propriedades CSS sendo afetados
   por um efeito de transição são calculados*/
   /*especifica um estilo para o elemento quando a animação não está jogando*/
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
 
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
#cadastrar{
  position: relative;
  top: 0px;
  width: 88%;   
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(147, 184, 189,0.8);
  
  /*configurações das animações*/
  /*descreve como os valores intermediários das propriedades CSS sendo afetados
   por um efeito de transição são calculados*/
   /*especifica um estilo para o elemento quando a animação não está jogando*/
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
 
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

/* Efeito ao clicar no botão: Ir para Login */
#paracadastro:target ~ .preenchimento #paracadastro, /*target: representa o elemento alvo*/
#paralogin:target ~ .preenchimento #paralogin{
  /*especifica a ordem da pilha do elemento*/
  z-index: 2;
  -webkit-animation-name: fadeInLeft; /*gradualmente entre ou saia do campo de visão*/
  animation-name: fadeInLeft;
 
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}
 
/* Efeito ao clicar no botão: Cadastre-se  */
#paracadastro:target ~ .preenchimento #paralogin,
#paralogin:target ~ .preenchimento #paracadastro{
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

tr{
  width: 500px;
  min-height: 150px;    
  margin: 0px 450px;
  position: relative;
  margin-top: 7%; 
}