/*.link-menu{
    color: rgb(131, 32, 131);
}

.float-direita{
    float: right;
    margin-left: 15%;
}
#principal{
    /* Atribuindo ao Layout do dashboard  o Grid-Layout documentação https://css-tricks.com/snippets/css/complete-guide-grid/*/
    /*display:grid;
    grid-template-areas: "menu-superior menu-superior" 
                         "conteudo-primario conteudo-secundario"
                         "container container"
                         "rodape rodape" ; /* Definindo areas */
    /*grid-template-rows: auto 100% 60% 1.7fr; /* altura das linhas */
    /*grid-template-columns: 50% 50%; /* largura das colunas */
    /*align-self:stretch;  /* ajuste ao conteúdo*/
/*}
